.chefs{
    max-width: 1100px;
    margin: 20px auto;
   h1{
    
   }
    .chef-grids{
        display: grid;
        grid-template-columns:repeat(auto-fit,minmax(400px,1fr)) ;
    }
}
.chef-container{
    display: flex;
    align-items: center;
    padding-left: 10px;
    background-color:var(--background-color);
    box-shadow: 2px 2px 5px var(--shadow-color);
    margin: 15px;
    border: 1px solid rgb(150, 146, 146);
    animation: getAnimationDuration(0.8s) popout;
    .chef-img{
        img{
            height: 120px;
            width: 120px;
            border-radius: 100px;
        }
    }
    .chef-text{
        padding: 15px ;
    }
    .chef-name{
        font-weight: 700;
        font-size: 1.5em;
        color: var(--text-color);
    }
    p{
        margin: 5px 20px;
        color: var(--text-light);
    }
    .chef-icons{
        margin: 5px 20px;
        .icon{
            margin-right: 10px;
            font-size: 1.2em;
            cursor: pointer;
            &:nth-child(1){
                color: rgb(22, 100, 189);
            }
            &:nth-child(2){
                color: rgb(224, 55, 55);
            }
            &:nth-child(3){
                color: rgb(28, 188, 252);
            }
        }
    }
}

