@function getAnimationDuration($duration:number){
    @return calc($duration * var(--animation-speed));
}
.navbar{
    height: 55px;
    box-shadow: 0 3px 6px var(--shadow-color);
    background-color: var(--background-color);
    color: var(--text-light);
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding-inline: 25vh;
    max-width: 1550px;
    min-width: 500px;
    margin: 0 auto;
    padding: auto;
    .logo{
         font-size:1.5em;
         font-weight: 700;
         color:white;
         background-color: black;
         padding: 5px;
         border-radius: 5px;
         border: none;

         span{
            color: black;
            background-color: rgb(233, 183, 21);
            border-radius: 5px;
            border: none;
         }
    }
    .links a{
        margin-left: 3em;
        color: var(--text-light);
        font-weight: 500;
        letter-spacing: 1px;
        position: relative;
        &::before{
            content: '';
            background-color: var(--primary-color);
            height: 3px;
            width: 100%;
            position: absolute;
            display:inline-block;
            top:18px;
            left: 0;
            transform: scaleX(0);
            transition: 0.3s;
        }
       &:hover{
        &::before{
            transform: scaleX(1);
        }
       }
    }
    .darktheme{
        margin-left: 30px;
        background-color: none;
        font-size: 20px;
        cursor: pointer;
        color: rgb(245, 106, 8);
    }
    .sidebar-btn{
        display: none;
        
    }
    @media(0<width<1025px){
        .sidebar-btn{
            display: block;
            cursor: pointer;
            padding-left:10px;
            position: absolute;
            left: 80%;
        }
        .links a{
            display: none;
            color: var(--text-color);
        }
        .darktheme{
            display: none;
        }
        .logo{
            // margin:0 -90px;
            position: absolute;
            right:68%;  
            color: white;
    }
}
}
.sidebar-container{
    position: fixed;
    top: 1%;
    z-index: 999;
    height: 100vh;
    width: 250px;
    max-width: 1550px;
    background-color:var(--background-color);
    margin: auto;
    box-shadow: 0 0 0 1000px rgba(94, 93, 93, 0.26),3px 0px 5px var(--shadow-color);
    animation : getAnimationDuration(.5s) slideinleft;
.sidebar{
   margin-top: 40px;
   position: relative;
    .sidebar-links{
         display: block;
         justify-content: around;
         font-weight: 500;
         letter-spacing: 1px;
         padding: 10px;
         color: var(--text-color);
         position: relative;
         animation : getAnimationDuration(1s) slideinleft;
         &::before{
            content: ('');
           background-color: red;
           height: 3px;
           width: 50%;
           margin-left: 5px;
           border-radius: 20px;
           position: absolute;
           top: 80%;
           transform: scaleX(0);
           transition: 0.3s;
        }
        &:hover{
            &::before{
                transform: scaleX(1);
            }
        }
    }   

    .icon{
        width: 30px;
        margin-right: 15px;
        color: var(--text-color);
    }
    .cancel-icon{
        position: absolute;
        left: 80%;
        top: -20%;
        color:var(--text-color);
        width: 35px;
        height: 25px;
        cursor: pointer;
    }
}
@media(width>1025px){
    .sidebar-container{
        display: none;
    }
}
}