.search-container {
  max-width: 1200px;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  .search-bar {
    display: flex;
    align-items: center;
    height: 2.5em;
    box-shadow: 2px 5px 10px var(--shadow-color);
    input {
      padding: 10px;
      outline: none;
      border: none;
    }
  }
}
.recipe-container {
  max-width: 1200px;
  margin: 30px auto;
  background-color: var(--background-color);
  border: 2px solid white;
}
.card-container {
  box-shadow: 3px 3px 10px var(--shadow-color);
  max-width: 300px;
  cursor: pointer;
  &:hover {
    box-shadow: 5px 5px 20px rgb(46, 46, 46);
  }
  .content {
    padding: 15px;
    h1 {
      color: var(--primary-color);
      font-size: 30px;
      font-weight: 700;
    }
    h3 {
      color: var(--text-light);
      padding: 5px;
      font-weight: 400;
    }
    span {
      color: var(--text-color);
      font-weight: 400;
    }
    .instructions {
      display: flex;
      align-items: center;
      gap: 5px;
      color: rgb(73, 158, 16);
      cursor: pointer;
    }
    .ingredients {
      display: flex;
      align-items: center;
      gap: 5px;
      color: red;
      cursor: pointer;
    }
  }
  .img-sec img {
    height: 100%;
    width: 100%;
  }
}
.recipecard-api {
  max-width: 1400px;
  margin: 0 auto;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  background-color: var(--background-color);
  animation: getAnimationDuration(1s) popout;
  }

